.massage-other {
  text-align: left;
  background-color: #12a3cc;
  max-width: 50%;
  padding: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #fff;
  max-height: 150px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
}
.massage-me {
  text-align: right;
  background-color: #db0142;
  max-width: 50%;
  padding: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #fff;
  max-height: 150px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
}
.box-right {
  display: flex;
  justify-content: left;
  padding-left: 10px;
}
.box-left {
  display: flex;
  justify-content: right;
  padding-right: 10px;
}

@media screen and (max-width: 768px) {
  .massage-other {
    max-width: 80%;
  }
  .massage-me {
    max-width: 80%;
  }
}
