.items {
  padding: 16px;
  max-height: 400px;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #f84546;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
