.comment {
  width: 80%;
}
.comment__item {
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
  min-height: 70px;
}
.comment__text {
  line-height: 30px;
}
.comment__title a,
.comment__title span {
  color: green;
  text-decoration: none;
}
.comment__title {
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.comment__title p {
  color: #bebcbc;
}
